@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .headerDiv {
    @apply bg-bgLight text-gray-500 items-center justify-center flex px-3 p-1.5 rounded-full hover:bg-white border-[1px] border-gray-200 hover:border-blue-500 duration-200
  }
}

.social-links {
  @apply bg-slate-100 text-darkText p-1 inline-flex items-center justify-center rounded-md text-lg hover:bg-blue-400 duration-200 cursor-pointer
}

.slick-initialized {
  position: relative;
}

.slick-initialized button.slick-arrow {
  position: absolute;
  /* left: 50%; */
  gap: 2rem;
  transform: translate(-50%, -50%);
}

.slick-initialized button.slick-arrow.slick-prev {
  left: 5%;
  z-index: 1;
}

.slick-initialized button.slick-arrow.slick-next {
  right: 5%;
  z-index: 1;
}

.MuiOutlinedInput-notchedOutline{
  border-width: 0 !important;
}

.css-pm62lu-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}